// font family
$defaultfont: 'Montserrat', sans-serif;
$headingfont: 'Montserrat', sans-serif;

// Colors variable
$primary-color: #222222;
$white: #ffffff;
$black: #000;
$grey:#F8F8F8;
$theme-color: #22C0F2;
