/* Navigation css */
.mainmenu {
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            position: relative;
            &:not(:last-child) {
                margin-right: 45px;
            }
            a {
                display: block;
                font-size: 14px;
                color: $white;
                font-weight: 500;
                padding: 15px 0px;
                padding-top: 5px;
                &:hover  {
                    color: $theme-color;
                }
            }
            ul {
                position: absolute;
                flex-direction: column;
                width: 250px;
                background: $white;
                padding: 20px;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
                li {
                    &:not(:last-child) {
                        margin-right: 0px;
                    }
                    a {
                        color: $black;
                        padding: 5px 0px;
                    }
                }
            }
            &:hover ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}


.dot-menu-nav {
    right: 70px;
    top: 50%;
    width: 20px;
    position: fixed;
    transform: translateY(-50%);
    text-align: center;
    z-index: 9;
}

.dot-menu-nav  {
    li {
        margin: 10px 0;
        padding: 12px;
        cursor: pointer;
        position: relative;
        &.active{
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 8px;
                transform: translateY(-50%);
                width: 0px;
                height: 0px;
                border-top: 5px solid transparent;
                border-right: 10px solid #00E4C7;
                border-bottom: 5px solid transparent;
                border-left: none;
                opacity: 1;
                transition: opacity 500ms linear 0s;
            }
        }
        a {
            width: 6px;
            height: 6px;
            background: #00E4C7;
            display: block;
            border-radius: 50%;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            transform: translateX(-2px);
        }
    }
}

.transparent .mainmenu ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-header.sticky-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.1);
}