/*Contact page css*/

.get-membership-section {
    padding-top: 150px;
    .title {
        font-size: 30px;
        font-weight: 900;
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    ul {
        @include d-flex;
        justify-content: center;
        margin-top: -15px;
        li {
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 15px;
            &:not(:last-child) {
                margin-right: 50px;
            }
            i {
                margin-right: 8px;
                color: #00E4C6;
            }
        }
    }
}

.register-now {
    position: relative;
    .content {
        position: absolute;
        right: 0;
        top: 40px;
        @include respond(xs) {
            top: 60px;
        }
        @include respond(sm) {
            top: 50px;
        }
        h2 {
            color: #FF005A;
            font-weight: 900;
            font-size: 26px;
            text-align: left;
            @include respond(xs) {
                font-size: 18px;
            }
            @include respond(sm) {
                font-size: 20px;
            }
        }
        h1 {
            color: #FF005A;
            font-weight: 900;
            font-size: 92px;
            line-height: 95px;
            margin-top: 10px;
            @include respond(xs) {
                font-size: 40px;
            }
            @include respond(sm) {
                font-size: 50px;
            }
        }
    }
    .site-btn {
        color: #222;
        margin-top: 45px;
        &:hover {
            color: $white;
        }
    }
}

.contact-form-section {
    margin-top: 200px;
    .section-title {
        margin-bottom: 100px;
        h2 {
            font-size: 30px;
            font-weight: 900;
        }
        p {
            font-size: 14px;
            color: #FF005A;
        }
    }
}

.contact-form {
    margin-bottom: 100px;
    .upload-wrap {
        border: 1px solid #222;
        border-radius: 10px;
        padding: 15px;
        padding-bottom: 10px;
    }
    .upload {
        border: 1px solid #222;
        border-radius: 10px;
        min-height: 245px;
        @include d-flex;
        align-items: center;
        justify-content: center;
        @include respond(xs) {
                margin-bottom: 20px;
        }
        @include respond(sm) {
            margin-bottom: 20px;
        }
        input {
            display: none;
        }
        label {
            font-size: 24px;
            font-weight: 900;
            text-align: center;
        }
    }
    textarea {
        background: #EDEDED;
        min-height: 245px;
        border-radius: 10px;
        padding: 10px 20px;
        color: #222;
        margin-bottom: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        @include placeholder(#222 !important);
    }
    .row {
        input {
            width: 100%;
            border: 1px solid #222;
            margin-top: 20px;
            border-radius: 0px;
            background: #222222;
            font-size: 14px;
            
        }
        .site-btn {
            padding: 9px 30px;
            color: #222;
            &:hover {
                color: $white;
            }
        }
    }
}