/*Service page css*/
.service-sidebar {
    li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        a {
            color: $primary-color;
            font-weight: 500;
            display: block;
            &:hover {
                font-weight: 700;
            }
        }
    }
    @include respond(lg) {
        margin-bottom: 50px;
    }
}

.service-content {
    .title {
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        display: inline-block;
        margin-bottom: 30px;
    }
    .sub-title {
        font-size: 22px;
        font-weight: 900;
        display: inline-block;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    p {
        line-height: 21px;
        a {
            font-weight: 600;
            color: $primary-color;
        }
    }
}

.service__lists {
    .item {
        text-align: center;
        .icon {
            margin-bottom: 20px;
            min-height: 70px;
        }
        .title {
            font-size: 16px;
            font-weight: 900;
        }
    }
}

.service__box {
    .title {
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    p {
        line-height: 25px;
    }
}

.service__box.bold {
    p {
        line-height: 21px;
    }
}

.free-quote {
    font-weight: 900;
    font-size: 14px;
    .site-btn {
        color: $primary-color;
        margin-left: 15px;
        @include respond(xs) {
            margin-left: 0px;
            margin-top: 30px;
        }
        &:hover {
            color: $white;
        }
    }
}

.reviews {
    .item {
        .name {
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
        }
    }
}

.row {
    .inline-btn {
        color: #00E4C7;
        position: relative;
        &::after {
            bottom: 0;
            left: 0;
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: #00E4C7;
        }
        &:hover {
            color: $theme-color;
            &::after {
                background: $theme-color;
            }
        }
    }
}

.quick-view {
    font-size: 18px;
    font-weight: 500;
}

.whatsapp-content {
    font-weight: 600;
    img {
        margin-left: 20px;
    }
}

.quick-view-img {
    .owl-nav {
        div {
            display: flex;
            font-size: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $black;
            width: 40px;
            height: 40px;
            text-align: center;
            justify-content: center;
            align-items: center;
            left: 0;
            @include transition(.3s);
            &:hover {
                background: $theme-color;
                color: $white;
                border-color: $theme-color;
            }
            &.owl-next {
                left: auto;
                right: 0;
            }
        }
    }
}
.review-section {
    .text-right {
        @include respond(lg) {
            text-align: left !important;
            margin-top: 30px;
        }
    }
}

.justify {
    p {
        text-align: justify;
    }
}